@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #ee906b;
    background-image: url("https://www.transparenttextures.com/patterns/ps-neutral.png");
  }
}
.tagesschrift {
    font-family: 'Tagesschrift', system-ui;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #cecece; /* Dark grey color for the thumb (the part you drag) */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: #6e6e6e; /* Light grey color for the track (background) */
}

@keyframes rainbow {
  0% { color: red; }
  16% { color: orange; }
  32% { color: yellow; }
  48% { color: green; }
  64% { color: blue; }
  80% { color: indigo; }
  100% { color: violet; }
}

@keyframes wave {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}

.rainbow-wave {
  animation:
    rainbow 2s infinite linear,
    wave 1.5s infinite ease-in-out;
}